html {
    font-family: sans-serif;
}

#main{
    padding: 30px;
    height: 100vh;
    width: 100vw;
}

body {
    margin:0;
}
.navbar-nav > li{
    padding-left: 10px;;
    padding-right: 10px;
}

.navbar-brand {
    padding-right: 100px;
}

.prof_photo {

    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.home_text {
    display: flex;
    color: grey;
    position: absolute;
}

.main_header {
    display: flex;
    justify-content: center;
    color: #45454b;
    margin-top: 10%;
    white-space: nowrap;
}

.secondary_header {
    display: flex;
    justify-content: center;
    color: #45454b;
    font-size: 32px;
    font-family: Rockwell;
    white-space: nowrap;
}

.paragraph {
    display: flex;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    color: black;
}

.collapse{
    justify-content: space-around; 
    margin-left:25vw;
}

#dropdown-menu {
    display: flex;
    justify-content: end;

}

#jumbotron {
    background: none;
    font-family: 'Fira Sans', sans-serif;
}