html {
    font-family: sans-serif;
}

#main{
    padding: 30px;
    height: 120vh;
    width: 100vw;
}

body {
    margin:0;
}
.navbar-nav > li{
    padding-left: 10px;;
    padding-right: 10px;
}

.navbar-brand {
    padding-right: 100px;
}

.prof_photo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}



.main_header {
    display: flex;
    justify-content: center;
    color: #45454b;
    margin-top: 10%;
    white-space: nowrap;
}

.secondary_header {
    display: flex;
    justify-content: center;
    color: #45454b;
    font-size: 32px;
    font-family: Rockwell;
    white-space: nowrap;
}

.paragraph {
    display: flex;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    color: black;
}

.collapse{
    justify-content: space-around; 
    margin-left:25vw;
}

#dropdown-menu {
    display: flex;
    justify-content: end;

}

#jumbotron {
    background: none;
    font-family: 'Fira Sans', sans-serif;
}

.projects_row {
    display: flex;
    flex-direction: row;
    font-family: 'Fira Sans', sans-serif;

}




.image-button {
    background-color: rgba(255, 165, 0, 0.7);
    border-radius: 4px;
    color: white; /* Text color */
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.image-button:hover {
    background-color: rgba(255, 165, 0, 0.9);
    color: black; 
    cursor: pointer;
}



